@{
    ViewBag.Title = "Trang Chủ";
    <style>

        .testimonial-group > .row {
            overflow-x: auto;
            white-space: nowrap;
        }

        #dataTable_filter input {
            display: none;
        }

        .content-wrapper {
            margin: 0;
        }

        .no-footer {
            border-bottom: none;
        }

        .is-invalid {
            color: #E84C3D;
            margin-top: 5px;
        }

        .dt-buttons {
            border-bottom: 1px solid rgba(0,0,0,.125);
            padding: 8px;
        }

        .card-tools {
            position: absolute;
            right: 10px;
            top: 11px;
            z-index: 999;
        }


        .overflow {
            text-overflow: ellipsis;
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
        }


        #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #38a4f8;
            background-color: transparent;
            text-transform: uppercase;
            border-color: transparent transparent #f3f3f3;
            border-bottom: transparent;
            font-weight: 400;
            border-top: 1px solid #38a4f8 !important;
            border-left: 1px solid #38a4f8 !important;
            border-right: 1px solid #38a4f8 !important;
        }

        .nav-tabs .nav-link {
            border: 1px solid transparent !IMPORTANT;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        a.active, button.active, a:focus, button:focus, a:hover, button:hover {
            color: #252525;
            outline: none !important;
            text-decoration: none !important;
        }

        .nav-link {
            display: block;
            padding: 0.5rem 1rem;
        }

        a, button {
            outline: none !important;
            text-decoration: none !important;
            color: #99abb4;
            transition: all 0.2s ease 0s;
        }


        .card-content-custom {
            padding-bottom: 1%;
            padding-left: 2%;
            padding-right: 2%;
            border-radius: 10px;
            width: 100%;
        }
    </style>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <!-- /.container-fluid 2-->
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info elevation-4">
                    <div class="inner">
                        <h3>
                            @ViewBag.SoLuongBanIn /@if (ViewBag.GioiHan == -1)
                            {
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-infinity" viewBox="0 0 16 16">
                                    <path d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916L8.656 7.75Z" />
                                </svg></span>
                            }
                            else
                            {
                                @ViewBag.GioiHan;
                            }
                        </h3>
                        <p>Số Lượng Giấy Đã In Tháng @DateTime.Now.Month</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-file"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-warning elevation-4">
                    <div class="inner">
                        <h3>
                            @if (ViewBag.GioiHan == -1)
                            {
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-infinity" viewBox="0 0 16 16">
                                    <path d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916L8.656 7.75Z" />
                                </svg></span>
                            }
                            else
                            {
                                @ViewBag.SoLuongBanIn;
                            }
                        </h3>
                        <p>Số Lượng Tài Liệu Đã In Tháng @DateTime.Now.Month</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-file-lines"></i>
                    </div>

                </div>
            </div>



            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-danger elevation-4">
                    <div class="inner">
                        <h3>@if (ViewBag.GioiHan == -1) {
                                 <span><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-infinity" viewBox="0 0 16 16">
                                    <path d="M5.68 5.792 7.345 7.75 5.681 9.708a2.75 2.75 0 1 1 0-3.916ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663-1.958a2.75 2.75 0 1 1 0 3.916L8.656 7.75Z" />
                                </svg></span>
                            } else {
                                @(ViewBag.GioiHan - ViewBag.SoLuongBanIn);
                            }
                        </h3>
                        <p>Số Lượng Còn Lại Cho Phép In Tháng @DateTime.Now.Month</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-file-excel"></i>
                    </div>

                </div>
            </div>

            <!-- ./col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
    <!-- /.container-fluid 1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex row">
                        <h3 class="card-title text-primary col-6">DANH SÁCH BẢN IN</h3>

                    </div>

                    <div class="card elevation-2" style="overflow-x: scroll; overflow-y: hidden; ">
                        <div class="card-tools">
                            <div class="input-group input-group-sm row">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Tìm ..." id="Filter">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body text-nowrap table-bordered p-0">

                            <table class="table table-hover text-nowrap table-bordered horizontal-scrollable" id="dataTable" style="width: 100%;">
                                <thead class="bg-primary">
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th>Tên Tài Liệu</th>
                                        <th>Thời Gian In</th>
                                        <th>Trạng Thái</th>
                                        <th>Trang Đã In</th>
                                        <th>Loại Trang</th>
                                        <th>Máy In</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix" style="height: 50px;">

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.card -->
            </div>




        </div>
    </div>

</section>
<script>
    var dtt;
    

    $("#search_btn").click(() => {
        var searchValue = $('#Filter').val().trim()
        dtt.column(0).search(searchValue);
        dtt.draw()
    })

    $("#Filter").keypress(function (e) {
        if (e.keyCode == 13) {
            dtt.columns(0).search($("#Filter").val());
            dtt.draw();
        }
    });

    //create function
   

    //loading datatables
    function loadDataTable() {
        dtt = $("#dataTable").DataTable({
            "lengthChange": false,
            "info": false,
            "searching": true,
            "language": {
                "search": "",
                "info": "Tổng số _TOTAL_ hàng",
                "infoEmpty": "",
                "infoFiltered": "",
                "paginate": {
                    "next": "»",
                    "previous": "«"
                },
                "processing": `Đang tải dữ liệu`,
                searchPlaceholder: "Tìm...",
                zeroRecords: "Không tìm thấy kết quả",

            },
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<i class="fa fa-file-excel"></i>',
                    extend: 'excel',
                    className: 'btn btn-outline-primary btn-sm mt-2 ml-3'
                },
                {
                    text: '<i class="fa fa-file-pdf"></i>',
                    extend: 'pdf',
                    className: 'btn btn-outline-primary btn-sm mt-2'
                },
                {
                    text: '<i class="fa fa-print"></i>',
                    extend: 'print',
                    className: 'btn btn-outline-primary btn-sm mt-2'
                }
            ],

            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/NV_BanIn/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "ID_BanIn" },
                {
                    "data": { "TenTaiLieu": "TenTaiLieu", "TenTaiLieuDinhKem": "TenTaiLieuDinhKem" }, "render": function (data, type, row) {
                        return data.TenTaiLieuDinhKem
                    }
                },
                {
                    "data": "ThoiGianPrint", "render": function (data, type, row) {

                        if (data != null) {
                            return moment(data).format("DD/MM/YYYY HH:mm:SS")
                        }
                        return 'dd/mm/yyyy hh:mm:ss'
                    }
                },
                {
                    "data": { "TrangThai": "TrangThai", "TrangThaiText": "TrangThaiText" }, "render": function (data, type, row) {
                        if (data.TrangThai == 0 && data.TrangThaiText == "") {
                            return `<span class="badge badge-pill badge-danger">Chưa In</span>`
                        }
                        else if (data.TrangThai == 0 && data.TrangThaiText != "") {
                            return `<span class="badge badge-pill badge-warning">${data.TrangThaiText}</span>`
                        }
                        else {
                            return `<span class="badge badge-pill badge-success">${data.TrangThaiText}</span>`
                        }
                    }
                },
                { "data": "TongSoTrangDaIn" },
                {
                    "data": "PaperSize", "render": function (data, type, row) {

                        if (data != "") {
                            return data
                        }
                        return ``
                    }
                },
                {
                    "data": "TenMayIn", "render": function (data, type, row) {

                        if (data != "") {
                            return data
                        }
                        return ``
                    }
                },
            ]
        });


        dtt.on('draw.dt', function () {
            var info = dtt.page.info();
            dtt.column(0, { search: 'applied', order: 'applied', page: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + info.start;
            });
        });
    }

    $(document).ready(function () {

        loadDataTable();


        var form = $(".DM_Create").validate({
            onfocusout: function (element) {
                $(element).valid();
            },
            invalidHandler: function (form, validator) {
                validator.focusInvalid();
                Swal.fire({
                    icon: 'error',
                    title: 'Xuất hiện lỗi',
                    text: `Vui lòng kiểm tra thông báo lỗi`,
                    timer: 2000,
                    showConfirmButton: false
                })

            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            rules: {
                BanIn: {
                    required: true,
                }
            },
            messages: {
                BanIn: {
                    required: "Tài liệu in chưa được đính kèm",
                },
            }
        });
        $(".closeform").click(function () {
            form.resetForm()

        })
    })


</script>

<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src='/signalr/js'></script>
<script>
    var hubNotify = $.connection.data_Hub;

    $.connection.hub.start().done(function () {
        dtt.draw()
    });

    hubNotify.client.Update = function () {
        dtt.draw();
    };
</script>